<%- include("includes/head", { pageTitle: "An error occurred"}) %><!--with the dash we are taking raw html code and not escaping it-->

</head>
<body>
    <%- include("includes/header") %>
    <main>
        <h1>Something went wrong!</h1>
        <p>Please try again later.</p>
        <p><a class="btn" href="/">Back to the main page.</a></p>
        
    </main>
<%- include("includes/footer") %>