<%- include("../../shared/includes/head", { pageTitle: "All products"}) %><!--with the dash we are taking raw html code and not escaping it-->
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>All products</h1>
        <p>A list of products...</p>
    </main>
<%- include("../../shared/includes/footer") %>